<a href="https://colab.research.google.com/github/pkor725/-MTN-Cote-d-Ivoire/blob/master/Copy_of_Moringa_Data_Science_Prep_W4_Independent_Project_2019_11_Gideon_k_Cheruiyot_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importing python libarary

import pandas as pd 

import numpy as np

In [0]:
#loading our dataset

Autolib_datset = 'http://bit.ly/Autolibdataseturl' 
A_df = pd.read_csv('/content/Autolib_dataset (2).csv')

#Previewing our dataset

A_df .head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
#Dropping irrelevant columns from the dataset

A_df .drop(columns = ['Address','Cars','Charge Slots', 'Charging Status', 'Displayed comment', 'Geo point', 'Scheduled at', 'Slots', 'Station type', 'Status', 'Subscription status','Rental status','Station type'], axis = 1, inplace =True)
A_df .head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour minute
0                0               0                   0  ...   8   11     43
1                6               0                   0  ...   6    7     24
2                3               0                   2  ...   3   20     14
3                3               1                   0  ...   4    4     37
4                3               0                   0  ...   8   17     23

[5 rows x 13 columns]

In [0]:
#Merging dates  column

A_df ['Date'] =  A_df['day'].map(str) + '/' + A_df['month'].map(str) + '/' + A_df['year'].map(str)

#converting date into a standard format

A_df['Date'] = pd.to_datetime(A_df['Date'])

#add datetime colunm in the standard format

A_df['datetime'] = A_df['day'].map(str) + '/' + A_df['month'].map(str) + '/' + A_df['year'].map(str) + ' ' + A_df['hour'].map(str) + ':' + A_df['minute'].map(str) 
#add datetime colunm in the standard format

A_df['datetime'] = pd.to_datetime(A_df['datetime'])
A_df

      Bluecar counter  Utilib counter  ...       Date            datetime
0                   0               0  ... 2018-08-04 2018-08-04 11:43:00
1                   6               0  ... 2018-06-04 2018-06-04 07:24:00
2                   3               0  ... 2018-03-04 2018-03-04 20:14:00
3                   3               1  ... 2018-04-04 2018-04-04 04:37:00
4                   3               0  ... 2018-08-04 2018-08-04 17:23:00
...               ...             ...  ...        ...                 ...
4995                2               0  ... 2018-06-04 2018-06-04 11:26:00
4996                4               0  ... 2018-04-04 2018-04-04 16:56:00
4997                1               0  ... 2018-01-04 2018-01-04 07:01:00
4998                2               0  ... 2018-04-04 2018-04-04 17:27:00
4999                4               0  ... 2018-08-04 2018-08-04 10:02:00

[5000 rows x 15 columns]

In [0]:
#Dropping null values
A_df.dropna()

      Bluecar counter  Utilib counter  ...       Date            datetime
0                   0               0  ... 2018-08-04 2018-08-04 11:43:00
1                   6               0  ... 2018-06-04 2018-06-04 07:24:00
2                   3               0  ... 2018-03-04 2018-03-04 20:14:00
3                   3               1  ... 2018-04-04 2018-04-04 04:37:00
4                   3               0  ... 2018-08-04 2018-08-04 17:23:00
...               ...             ...  ...        ...                 ...
4995                2               0  ... 2018-06-04 2018-06-04 11:26:00
4996                4               0  ... 2018-04-04 2018-04-04 16:56:00
4997                1               0  ... 2018-01-04 2018-01-04 07:01:00
4998                2               0  ... 2018-04-04 2018-04-04 17:27:00
4999                4               0  ... 2018-08-04 2018-08-04 10:02:00

[5000 rows x 15 columns]

In [0]:
#Finding the cumulative sum of the counters
#first group sations based on dates

A_df.groupby(['ID', 'Bluecar counter']).first()

                                                Utilib counter  ...            datetime
ID                             Bluecar counter                  ...
alfortville-blanqui-61         0                             0  ... 2018-02-04 19:28:00
alfortville-charlesdegaulle-16 2                             0  ... 2018-01-04 00:36:00
                               3                             0  ... 2018-03-04 04:03:00
                               4                             0  ... 2018-01-04 01:36:00
                               6                             0  ... 2018-04-04 03:30:00
...                                                        ...  ...                 ...
yerres-charlesdegaulle-99      7                             0  ... 2018-06-04 11:08:00
yerres-pierrebrossolette-92    0                             0  ... 2018-08-04 19:34:00
                               5                             1  ... 2018-07-04 19:59:00
                               6                             1  ... 2018-07-04 05:40:00
yerres-raymondpoincare-200     2                             0  ... 2018-02-04 15:55:00

[3119 rows x 13 columns]

In [0]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
#filtering out other cities to just have paris City alone.

A_df1 = A_df[(A_df['City'] == "Paris")]

#finding the difference between successive periods to find out whether it is a "return" or "pick"
A_df1['diff'] =  A_df1['Bluecar counter'].diff()
A_df1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

      Bluecar counter  Utilib counter  ...            datetime diff
0                   0               0  ... 2018-08-04 11:43:00  NaN
1                   6               0  ... 2018-06-04 07:24:00  6.0
3                   3               1  ... 2018-04-04 04:37:00 -3.0
4                   3               0  ... 2018-08-04 17:23:00  0.0
5                   0               0  ... 2018-06-04 07:02:00 -3.0
...               ...             ...  ...                 ...  ...
4992                0               0  ... 2018-09-04 23:01:00  0.0
4994                0               0  ... 2018-01-04 20:49:00  0.0
4996                4               0  ... 2018-04-04 16:56:00  4.0
4997                1               0  ... 2018-01-04 07:01:00 -3.0
4999                4               0  ... 2018-08-04 10:02:00  3.0

[2816 rows x 16 columns]

In [0]:
#To find out the popular hour for picking up cars we selected the period with the highest number of successive difference. Since it reveals high frequency of picks
A_df1['diff'] =  A_df1['Bluecar counter'].diff()
A_df1 = A_df1[(A_df1['diff'] < 0)].groupby(['datetime'])['diff'].sum().sort_values(ascending =True).head(10)
A_df1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

datetime
2018-02-04 02:41:00   -11.0
2018-05-04 09:14:00   -10.0
2018-07-04 13:41:00   -10.0
2018-08-04 10:32:00    -9.0
2018-07-04 17:26:00    -9.0
2018-08-04 03:45:00    -9.0
2018-02-04 20:03:00    -8.0
2018-09-04 15:08:00    -8.0
2018-07-04 20:14:00    -8.0
2018-06-04 05:31:00    -8.0
Name: diff, dtype: float64

In [0]:
#To find out the popular hour for picking up cars we selected the period with the highest number of successive difference. Since it reveals high frequency of picks